div{
    display:inline-block;
    overflow-wrap: normal;
}
body{
    background: linear-gradient(2deg, #2e2e2e, #5a5a5a);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin:0%;
    vertical-align: top;
}
a{
    color: white; 
    text-decoration: none;
    transition: ease 300ms;
}
a:hover{
    color:rgb(178, 255, 175);
    transition: ease 300ms;
}
a:focus{
    color:rgb(224, 224, 224);
    transition: ease 300ms;
}
.block{
    padding:2%;
    box-shadow: 2px 4px 8px black;
    margin: 1%;
    transition: ease 300ms;
}
.block:hover{
    box-shadow: 2px 4px 8px rgb(163, 163, 163);
    transition: ease 300ms;
}