div{
    display:inline-block;
    overflow-wrap: normal;
}
body{
    background: rgb(82, 82, 82);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin:0%
}
.block{
    padding:2%;
    box-shadow: 2px 4px 8px black;
    margin: 1%;
    transition: ease 300ms;
}
.block:hover{
    box-shadow: 2px 4px 8px rgb(163, 163, 163);
    transition: ease 300ms;
}